In [1]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
 import pandas as pd
df=pd.read_csv("C:/Users/steav/OneDrive/Desktop/project folder/Daily Market Prices Commodity.csv")
df.head()

,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min_Price,Max_Price,Modal_Price,Commodity_Code
0,Karnataka,Bangalore,Bangalore,Green Peas,Green Peas,FAQ,2006-01-21,1500,1600,1550,50
1,Karnataka,Bangalore,Bangalore,Green Peas,Green Peas,FAQ,2006-01-25,1500,1600,1550,50
2,Karnataka,Bangalore,Bangalore,Green Peas,Green Peas,FAQ,2006-02-13,1500,1600,1550,50
3,Karnataka,Bangalore,Bangalore,Green Peas,Green Peas,FAQ,2006-02-15,1500,1600,1550,50
4,Karnataka,Bangalore,Bangalore,Green Peas,Green Peas,FAQ,2006-02-21,1500,1600,1550,50

In [3]:
df.isnull().sum()

State             0
District          0
Market            0
Commodity         0
Variety           0
Grade             0
Arrival_Date      0
Min_Price         0
Max_Price         0
Modal_Price       0
Commodity_Code    0
dtype: int64

In [4]:
df2=df.copy()

In [5]:
df2=df2.dropna()

In [6]:
str=df2["Arrival_Date"][1]
str2=str.split('-')
print(str)
print(str2)
print(str2[1])

2006-01-25
['2006', '01', '25']
01

In [7]:
Dict = {1:"January",2:"February",3:"March",4:"April",5:"May",6:"June",7:"July",8:"August",9:"September",10:"October",11:"November",12:"December"}
print(Dict)

{1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May', 6: 'June', 7: 'July', 8: 'August', 9: 'September', 10: 'October', 11: 'November', 12: 'December'}

In [8]:
month_column=[]

In [9]:
for rr in df2["Arrival_Date"]:
    str=rr
    str2=str.split('-')
    month_column.append(Dict[int(str2[1])])

In [10]:
len(month_column)

10000

In [11]:
df2["month_column"]=month_column

In [12]:
df2["month_column"]

0        January
1        January
2       February
3       February
4       February
          ...
9995        July
9996        July
9997      August
9998      August
9999      August
Name: month_column, Length: 10000, dtype: object

In [13]:
season_names=[]

In [14]:
for tt in df2["month_column"]:
    if tt=="January" or tt=="February":
        season_names.append("Winter")
    elif tt=="March" or tt=="April":
        season_names.append("Sprint")
    elif tt=="May" or tt=="June":
        season_names.append("Summer")
    elif tt=="July" or tt=="August":
        season_names.append("Monsoon")
    elif tt=="September" or tt=="October":
        season_names.append("Autumn")
    elif tt=="November" or tt=="December":
        season_names.append(" Pre Winter")

In [15]:
df2["season_names"]=season_names

In [16]:
import pandas as pd
df=pd.Timestamp("2019-04-12")
print(df.dayofweek)

4

In [17]:
day_of_week=[]

In [18]:
for rr in df2["Arrival_Date"]:
    str = rr
    df=pd.Timestamp(rr)
    day=df.dayofweek
    day_of_week.append(day)

In [19]:
df2["day"]=day_of_week

In [20]:
df2.tail()

,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min_Price,Max_Price,Modal_Price,Commodity_Code,month_column,season_names,day
9995,Karnataka,Bangalore,Bangalore,Rice,Medium,FAQ,2011-07-20,2200,2400,2300,3,July,Monsoon,2
9996,Karnataka,Bangalore,Bangalore,Rice,Medium,FAQ,2011-07-25,2200,2400,2300,3,July,Monsoon,0
9997,Karnataka,Bangalore,Bangalore,Rice,Medium,FAQ,2011-08-09,2200,2600,2400,3,August,Monsoon,1
9998,Karnataka,Bangalore,Bangalore,Rice,Medium,FAQ,2011-08-10,2200,2600,2400,3,August,Monsoon,2
9999,Karnataka,Bangalore,Bangalore,Rice,Medium,FAQ,2011-08-16,2200,2600,2400,3,August,Monsoon,1

In [21]:
# df2 = df2.drop('Grade', axis=1)

In [22]:
df2 = df2.drop('Arrival_Date', axis=1)

In [23]:
df2.head()

,State,District,Market,Commodity,Variety,Grade,Min_Price,Max_Price,Modal_Price,Commodity_Code,month_column,season_names,day
0,Karnataka,Bangalore,Bangalore,Green Peas,Green Peas,FAQ,1500,1600,1550,50,January,Winter,5
1,Karnataka,Bangalore,Bangalore,Green Peas,Green Peas,FAQ,1500,1600,1550,50,January,Winter,2
2,Karnataka,Bangalore,Bangalore,Green Peas,Green Peas,FAQ,1500,1600,1550,50,February,Winter,0
3,Karnataka,Bangalore,Bangalore,Green Peas,Green Peas,FAQ,1500,1600,1550,50,February,Winter,2
4,Karnataka,Bangalore,Bangalore,Green Peas,Green Peas,FAQ,1500,1600,1550,50,February,Winter,1

In [24]:
df2.duplicated().sum()

1393

In [25]:
# df2.drop_duplicates(inplace=True)

In [26]:
df2.duplicated().sum()

1393

In [27]:
Q1 = np.percentile(df2['Modal_Price'],25,interpolation = "midpoint")
Q3 = np.percentile(df2["Modal_Price"],75,interpolation ="midpoint")
IQR=Q3-Q1

In [28]:
# #upperbound
# upper=np.where(df2["Modal_Price"] >= (Q3+1.5*IQR))
# #lower bound
# lower=np.where(df2["Modal_Price"] <= (Q1-1.5*IQR))

In [30]:
# print(upper[0],lower[0])

In [42]:
# sns.boxplot(df2["Modal_Price"])

In [32]:
df2.drop_duplicates(inplace=True)

In [33]:
df2 = df2.drop('Grade', axis=1)

In [ ]:
# col = ['State','District','Market','Commodity','Variety','Min_Price','Max_Price','Modal_Price','Commodity_Code','month_column','season_names','day']

In [34]:
features=df2[['State','District', 'Market', 'Commodity', 'Variety','month_column', 'season_names', 'day']]
labels=df2[['Modal_Price']]

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features,labels, train_size=0.8, random_state=42, shuffle=True)

In [36]:
X_train

,State,District,Market,Commodity,Variety,month_column,season_names,day
7979,Karnataka,Bangalore,Bangalore,Jowar(Sorghum),Jowar ( White),March,Sprint,1
7377,Karnataka,Bangalore,Bangalore,Ragi (Finger Millet),Fine,May,Summer,3
245,Karnataka,Bangalore,Bangalore,Bengal Gram(Gram)(Whole),Average (Whole),November,Pre Winter,1
9933,Karnataka,Bangalore,Bangalore,Turmeric,Turmeric Stick,October,Autumn,4
8561,Karnataka,Bangalore,Bangalore,Dry Chillies,Mankattu,October,Autumn,2
...,...,...,...,...,...,...,...,...
6790,Karnataka,Bangalore,Bangalore,Avare Dal,Avare (Whole),September,Autumn,0
6131,Karnataka,Bangalore,Bangalore,Coconut,Coconut,May,Summer,2
6374,Karnataka,Bangalore,Bangalore,Dry Chillies,Byadgi,March,Sprint,4
984,Karnataka,Bangalore,Bangalore,Garlic,Other,November,Pre Winter,3
8576,Karnataka,Bangalore,Bangalore,Dry Chillies,Byadgi,January,Winter,5

# Converting Categorical to Numerical and Scaling the values

In [37]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
ohe = OneHotEncoder(drop='first')
scale = StandardScaler()

preprocesser = ColumnTransformer(
        transformers = [
            ('StandardScale', scale, [7]),
            ('OHE', ohe, [0,1,2,3,4,5,6]),
        ],
        remainder='passthrough'
)

In [38]:
X_train_dummy = preprocesser.fit_transform(X_train)
X_test_dummy = preprocesser.transform(X_test)

In [39]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_absolute_error,r2_score


models = {
    'lr':LinearRegression(),
    'lss':Lasso(),
    'Rid':Ridge(),
    'Dtr':DecisionTreeRegressor(),
    'Rfr':RandomForestRegressor()

}
for name, md in models.items():
    md.fit(X_train_dummy,y_train)
    y_pred = md.predict(X_test_dummy)
    
    print(f"{name} : mae : {mean_absolute_error(y_test,y_pred)} score : {r2_score(y_test,y_pred)}")

lr : mae : 824.353056329456 score : 0.860876329671873
lss : mae : 834.6231851111927 score : 0.860010077990562
Rid : mae : 827.309068130727 score : 0.860457925730115
Dtr : mae : 1039.243563685637 score : 0.7652416120990833

C:\Users\steav\AppData\Local\Temp\ipykernel_15692\101204319.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  md.fit(X_train_dummy,y_train)

Rfr : mae : 927.9607400043659 score : 0.8240175832205043

In [40]:
lr=LinearRegression()
lr.fit(X_train_dummy,y_train)
lr.predict(X_test_dummy)

array([[1555.5826657 ],
       [4444.70497024],
       [2728.02237424],
       ...,
       [1863.98578971],
       [4773.29853347],
       [3709.48166949]])

In [41]:
def prediction(State,District,Market,Commodity,Variety,month_column,season_names,day):
    # Create an array of the input features
    features = np.array([[State,District,Market,Commodity,Variety,month_column,season_names,day]], dtype=object)

    # Transform the features using the preprocessor
    transformed_features = preprocesser.transform(features)

    # Make the prediction
    predicted_price = lr.predict(transformed_features).reshape(1, -1)

    return predicted_price[0]

State = 'Karnataka'
District ='Bangalore'
Market = 'Bangalore'
Commodity='Green Peas'                   
Variety = 'Green Peas'
month_column = 'January'
season_names='Winter'
day=5

result = prediction(State,District,Market,Commodity,Variety,month_column,season_names,day)

C:\Users\steav\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\Users\steav\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [ ]:
result

In [ ]:
import pickle
pickle.dump(lr,open('lr.pkl','wb'))
pickle.dump(preprocesser,open('preprocessor.pkl','wb'))